body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html{
  background-color: #282c34;
}


/*NAVIGATION BAR */

.nav-margin-bottom{
  margin-bottom: 10vh;
}
.navbar-brand{
  font-size: 2rem!important;
  margin-right: 3rem!important;
  padding-top: 0rem!important;
  padding-bottom: .5rem!important;
}


.Landing {
  text-align: center;
  background-color: #282c34;
}


.Landing-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* BUTTON ROUND */
.round-button{
  height: auto;
    width: 80px;
    border-radius: 50%;
    font-size: 3rem;
    color: #ffffff!important;
    background-color: black;
    margin: 50px 0 50px 0;
    text-decoration: none!important;

}


/*CARD*/


.card{
  border:0px!important;
  background: rgb(136,94,26);
  background: linear-gradient(0deg, rgba(136,94,26,1) 9%, rgba(95,217,144,1) 18%, rgba(50,255,250,1) 29%, rgba(50,255,250,1) 72%, rgba(255,255,255,1) 82%)!important;
}

.pokemon{
  width: 75%;
}

.custom-name{
  font-weight:bold;
  text-transform: uppercase;
  color: #000000!important;
  font-size: 1.2rem;
  text-decoration: none!important;
}

/*   INFO  */
.info{
  border:0px!important;
  background: rgb(136,94,26);
  background: linear-gradient(0deg, rgba(136,94,26,1) 9%, rgba(95,217,144,1) 18%, rgba(50,255,250,1) 29%, rgba(50,255,250,1) 72%, rgba(255,255,255,1) 82%)!important;
  width: 25%;
}


/*
SCROLL BAR
*/


::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;	
}



/* CUSTOM A */

.custom-a{
  font-weight:bold;
  text-transform: uppercase;
  color: #e30000!important;
  font-size: 1.2rem;
  text-decoration: none!important;
  margin-left: 0px!important;
}

.custom-a-bis{
  font-size: 1.5rem;
  border-radius: 15px;
  color: #ffffff!important;
  background-color: black;
  padding: 1%;
  margin: 50px 0 50px 0;
  text-decoration: none!important;
}

/* CUSTOME P */
.custom-p{
  padding-top: 10px;
    font-size: 3rem;
}



/* CUSTOM FORM */
.background-color{
  background-color: #282c34;
}

.margin-top-bot{
  margin: 25px 0px 25px 0px;
}

.custom-button{
  font-size: 1.5rem!important;
  border-radius: 15px;
  color: #ffffff!important;
  background-color: black!important;
  padding: 1%;
  text-decoration: none!important;
  border-color: #b9bbbd!important;
}